<ion-view title="Change Password">
    <ion-content>
        <form style="" name="changepassword" class="list" novalidate>
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Current password</span>
                    <input placeholder="" name="current_password" ng-model="p.current_password" type="text" required>
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">New password</span>
                    <input placeholder="" name="new_password" ng-model="p.new_password" type="password" required>
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">New password again</span>
                    <input placeholder="" name="new_password_again"  ng-model="p.new_password_again" type="password" required>
                </label>
            </ion-list>

            <button class="button button-balanced  button-block" ng-disabled="changepassword.$invalid" ng-click="changepassword(p)">Update</button>
        </form>
    </ion-content>
</ion-view>
