<ion-view title="Forgot Password ?">
    <ion-content>
        <form style="" name="forgotpassword" class="list" novalidate>
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="" name="email" ng-model="p.email" type="text" required>
                </label>
              
            </ion-list>

            <button class="button button-balanced  button-block" ng-disabled="forgotpassword.$invalid" ng-click="forgot_password(p)">Send Password</button>
        </form>
    </ion-content>
</ion-view>
